src/html/
*.v.d
*.vo
*.glob
*~
Makefile.coq

examples/Makefile.coq
papers/coq-workshop-12/auto/
papers/coq-workshop-12/main-blx.bib
papers/coq-workshop-12/main.aux
papers/coq-workshop-12/main.bbl
papers/coq-workshop-12/main.blg
papers/coq-workshop-12/main.log
papers/coq-workshop-12/main.rel
papers/coq-workshop-12/main.run.xml
papers/coq-workshop-12/main.synctex.gz
src/Makefile.coq
talks/coq-2012/auto/
talks/coq-2012/talk.aux
talks/coq-2012/talk.log
talks/coq-2012/talk.nav
talks/coq-2012/talk.out
talks/coq-2012/talk.snm
talks/coq-2012/talk.synctex.gz
talks/coq-2012/talk.toc
talks/coq-2012/talk.vrb
.DS_Store
talks/.DS_Store
talks/coq-2012/.DS_Store
talks/coq-2012/figs/.DS_Store
talks/coq-2012/talk.rel
.\#question.txt
.dir-locals.el
examples/backend/pprint/
examples/main.byte
papers/cav-13/--help
